{% extends 'base/front_base.html' %}
{% load time_since %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/news/news_detail.css' %}">
    <script src="{% static 'js/news_detail.js' %}"></script>
    <script src="{% static 'js/font_base.js' %}"></script>
    <script id="comment-item" type="text/html">
        {% verbatim %}
        <li>
            <div class="top-info-group">
                <div class="user-info-group">
                    <img src="http://7xl0ey.com2.z0.glb.qiniucdn.com/1458392835_51884.jpg" alt="">
                    <span class="username-group">{{ comment.author.username }}</span>
                </div>
                <p class="time-group">{{ comment.pub_time | timeSince }}</p>
            </div>
            <p class="comment-content-group">{{ comment.content }}</p>
        </li>
        {% endverbatim %}
    </script>
{% endblock %}

{% block main %}
    <div class="main">
        <div class="main-container">
            <div class="article-group">
                <p class="article-title-group">{{ news.title }}</p>
                <div class="article-info-group">
                    <div class="left-info-group">
                        <span class="author-time-group">{{ news.author.username }}</span>
                        <span class="author-time-group">{{ news.pubtime|time_since }}</span>
                        <span class="category-group">{{ news.category.name }}</span>
                    </div>
                </div>
                <article class="article-content-group">
                    <p style="margin-top: 10px; margin-bottom: 10px; padding: 0px; line-height: 30px; color: rgb(85, 85, 85); font-family: STHeiti, &quot;Microsoft YaHei&quot;, Helvetica, Arial, sans-serif; white-space: normal; background-color: rgb(255, 255, 255); text-align: center;" escape="true">
                        <img src="{{ news.thumbnail }}" title="" alt="timg.jpg"></p>
                    <p style="margin-top: 10px; margin-bottom: 10px; padding: 0px; line-height: 30px; color: rgb(85, 85, 85); font-family: STHeiti, &quot;Microsoft YaHei&quot;, Helvetica, Arial, sans-serif; white-space: normal; background-color: rgb(255, 255, 255);">
                        {{ news.content | safe}}
                    </p>
                    <p><br></p>
                </article>
                <div class="comment-group">
                    <h2 class="comment-title">文章评论(0)</h2>
                    {% if user.is_authenticated %}
                        <textarea id="comment-textarea" placeholder="请填写评论" cols="30" rows="10"
                                  class="comment-textarea logined-textarea"></textarea>
                    {% else %}
                        <textarea readonly placeholder="立即登录，参与评论~" cols="30" rows="10"
                                  class="comment-textarea nologin-textarea"></textarea>
                    {% endif %}
                    <div class="submit-comment-group">
                        <button class="submit-comment-btn" id="submit-comment-btn" data-news-id="{{ news.id }}">评论
                        </button>
                    </div>
                </div>
                <ul class="comment-list-group">
                    {# 反查 #}
                    {% for comment in news.comments.all %}
                        <li>
                            <div class="top-info-group">
                                <div class="user-info-group">
                                    <img src="http://7xl0ey.com2.z0.glb.qiniucdn.com/1458392835_51884.jpg" alt="">
                                    <span class="username-group">{{ comment.author.username }}</span>
                                </div>
                                <p class="time-group">{{ comment.pub_time|time_since }}</p>
                            </div>
                            <p class="comment-content-group">{{ comment.content }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="sidebar-container">
            {% include 'base/side.html' %}
        </div>
    </div>
{% endblock %}