<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_681895_q7ptjm0r8n.css">
    <link rel="stylesheet" href="{% static 'css/base/front_base.css' %}">
    <link rel="stylesheet" href="{% static 'css/base/side.css' %}">
    <script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <script src="{% static 'js/xfzajax.js' %}"></script>
    <script src="{% static 'js/message.js' %}"></script>
    <script src="{% static 'js/template-web.js' %}"></script>
    <script src="{% static 'js/font_base.js' %}"></script>
    {% block head %}{% endblock %}
</head>
<body>
<header class="header">
    <nav class="nav">
        <a href="/"><h1 class="logo-box"></h1></a>
        <ul class="menu">
            <li class=""><a href="{% url 'news:index' %}">创投资讯</a></li>
            <li><a href="{% url 'course:course_index' %}">创业课堂</a></li>
            <li><a href="#">付费资讯</a></li>
            <li><a href="{% url 'news:search_news' %}">搜索</a></li>
        </ul>
        <div class="auth-group">
            <span class="user-icon icon-person iconfont"></span>
            {% if user.is_authenticated %}
                <a href="javascript:void(0);">{{ user.username }}</a>
                <div class="user-more-box">
                    <i class="triangle"></i>
                    {% if user.is_staff %}
                        <a href="{% url 'cms:index' %}">管理系统</a>
                    {% endif %}
                    <a href="{% url 'xfzauth:logout' %}">退出登录</a>
                </div>
            {% else %}
                <a href="{% url 'xfzauth:login' %}">登录 /</a>
                <a href="{% url 'xfzauth:register' %}">注册</a>
            {% endif %}
        </div>
    </nav>
</header>
{% block main %}{% endblock %}
<footer class="footer">
    <div class="footer-1">
        <div class="footer-inner">
            <div class="logo-box"></div>
            <div class="detail-info-group">
                <div class="top-group">
                    <ul class="links">
                        <li><a href="#">关于我们</a></li>
                        <li><a href="#">创业问答</a></li>
                        <li><a href="#">寻求帮助</a></li>
                        <li><a href="#">回馈礼包</a></li>
                    </ul>
                    <div class="about-us">
                        <span>关于我们：</span>
                        <span class="weixin">xfz008</span>
                        <span class="weibo">welcomehere</span>
                    </div>
                </div>
                <div class="bottom-group">
                    <p class="address">地址：地球一号实验基地</p>
                    <p class="contact">联系方式：9090980（工作日10点-18点)</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-2">
        ©2017 98k星云 98kICP备52098k号-1
    </div>
</footer>
</body>
</html>