<div class="course-group">
    <div class="top-group">
        <span class="title-group">在线课堂</span>
        <a href="#" class="more-group">更多</a>
    </div>
</div>
<div class="pay-info-group">
    <a href="#">
        <img src="https://static.veer.com/veer/static/resources/FourPack/2018-07-23/28ff0166b027413480dfc033e64087bb.jpg" alt="">
    </a>
</div>
<div class="focus-group">
    <div class="title-group">关注我们</div>
    <div class="website-group">
        <div class="left-group">
            <div class="item-group">
                <div class="logo-group zhihu-logo"></div>
                <div class="text-group">
                    <a href="#">最炫酷的变形金刚</a>
                </div>
            </div>
            <div class="item-group">
                <div class="logo-group weibo-logo"></div>
                <div class="text-group">
                    <a href="#">最炫酷的变形金刚</a>
                </div>
            </div>
            <div class="item-group">
                <div class="logo-group toutiao-logo"></div>
                <div class="text-group">
                    <a href="#">最不那么炫酷的太阳</a>
                </div>
            </div>
        </div>
        <div class="right-group">
            <div class="qr-group"></div>
            <p class="text-group">扫码关注我们微信平台</p>
        </div>
    </div>
</div>