{% extends 'base/front_base.html' %}
{% load static %}

{% block title %}小饭桌创业课堂{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/course/course_index.css' %}">
{% endblock %}

{% block main %}
    <div class="main">
		<div class="course-list-container">
			<ul class="course-list-group">
                <li>
                    <a href="#">
                        <img class="thumbnail-group" src="https://static-image.xfz.cn/1513655131_852.png-course.list.small" alt="">
                        <div class="course-info-group">
                            <p class="course-title">打动投资人的商业计划书</p>
                            <p class="teacher-info-group">xx投资经理</p>
                        </div>
                        <div class="course-bottom-group">
                            <span class="price-text nofree-price-text">￥49</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="thumbnail-group" src="https://static-image.xfz.cn/1513655131_852.png-course.list.small" alt="">
                        <div class="course-info-group">
                            <p class="course-title">打动投资人的商业计划书</p>
                            <p class="teacher-info-group">xx投资经理</p>
                        </div>
                        <div class="course-bottom-group">
                            <span class="price-text nofree-price-text">￥49</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="thumbnail-group" src="https://static-image.xfz.cn/1513655131_852.png-course.list.small" alt="">
                        <div class="course-info-group">
                            <p class="course-title">打动投资人的商业计划书</p>
                            <p class="teacher-info-group">xx投资经理</p>
                        </div>
                        <div class="course-bottom-group">
                            <span class="price-text nofree-price-text">￥49</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="thumbnail-group" src="https://static-image.xfz.cn/1513655131_852.png-course.list.small" alt="">
                        <div class="course-info-group">
                            <p class="course-title">打动投资人的商业计划书</p>
                            <p class="teacher-info-group">xx投资经理</p>
                        </div>
                        <div class="course-bottom-group">
                            <span class="price-text nofree-price-text">￥49</span>
                        </div>
                    </a>
                </li>
			</ul>
		</div>
        </div>
{% endblock %}