{% extends 'cms/base.html' %}

{% block title %}
    轮播图
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/cms/banners.css' %}">
    <script src="{% static 'js/template-web.js' %}"></script>
    <script src="{% static 'js/banner.js' %}"></script>
{% endblock %}

{% block content-header %}
    <h1>轮播图管理</h1>
{% endblock %}

{% block content %}
    <script id="banner-item" type="text/html">
        {% verbatim %}
        {{ if banner }}
        <div class="box banner-son" banner-id="{{ banner.id }}">
        {{ else }}
        <div class="box banner-son">
        {{ /if }}
            <div class="box-header">
                {{ if banner }}
                <span class="pull-left priority-show">优先级： {{ banner.priority }}</span>
                {{ else }}
                <span class="pull-left priority-show">优先级： 0</span>
                {{ /if }}
                <i class="fa fa-close pull-right banner-close-btn"></i>
            </div>
            <div class="box-body form-group">
                <input type="file" style="display: none" class="add-image-input">
                {{ if banner }}
                <img src="{{ banner.image_url }}" class="pull-left add-image">
                {{ else }}
                <img src="/static/image/banner.jpg" class="pull-left add-image">
                {{ /if }}
                <div class="input-group box-right">
                    {{ if banner }}
                    <input type="text" class="form-control priority" placeholder="优先级" value="{{ banner.priority }}"
                           name="first">
                    <input type="text" class="form-control last jump-link" placeholder="jump link"
                           value="{{ banner.jump_link }}" name="jump">
                    {{ else }}
                    <input type="text" class="form-control priority" placeholder="优先级" name="first">
                    <input type="text" class="form-control last jump-link" placeholder="jump link" name="jump">
                    {{ /if }}
                </div>
                <button type="submit" class="btn btn-primary btn-sm pull-right" id="commit-btn">提交</button>
            </div>
        </div>
            {% endverbatim %}
    </script>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="form-group btn-group">
                        <button class="btn btn-primary pull-left" id="add-btn">
                            <i class="fa fa-plus close-btn"></i>
                            添加轮播图
                        </button>
                        <ul class="pull-left describe">
                            <li>支持格式jpg, git, png, 最多可上传6张</li>
                            <li>比例4: 1, 宽度在800px以上, 5M以内</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-group banner-box"></div>
        </div>
    </div>
{% endblock %}
