{% extends 'cms/base.html' %}
{% load time_since %}

{% block title %}
    新闻列表
{% endblock %}


{% block head %}
    <style>
        .margins {
            margin-right: 28px;
        }

        .box-footer {
            line-height: 72px;
        }
    </style>
    <link href="https://cdn.bootcss.com/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-datepicker/1.8.0/locales/bootstrap-datepicker.zh-CN.min.js"></script>
    <script src="{% static 'js/cms_news_list.js' %}"></script>
{% endblock %}


{% block content-header %}
    <h1>新闻管理</h1>
{% endblock %}

{% block content %}
    <div class="box">
        <div class="box-header">
            <form class="form-inline">
                <div class="form-group">
                    <div class="pull-left margins">
                        <label for="start-input">时间：</label>
                        {% if start %}
                        <input readonly name="start" class="form-control" type="text" value="{{ start }}">
                        {% else %}
                        <input readonly name="start" class="form-control" type="text" placeholder="开始时间">
                        {% endif %}
                        <span>-</span>
                        {% if end %}
                        <input readonly name="end" class="form-control" type="text" value="{{ end }}">
                        {% else %}
                        <input readonly name="end" class="form-control" type="text" placeholder="结束时间">
                        {% endif %}
                    </div>
                </div>
                <div class="form-group margins">
                    <label for="title-input">标题：</label>
                    {% if title %}
                    <input class="form-control" type="text" name="title" value="{{ title }}">
                    {% else %}
                    <input class="form-control" type="text" name="title" placeholder="关键字">
                    {% endif %}
                </div>
                <div class="form-group margins">
                    <label for="">分类：</label>
                    <select class="form-control" name="category" id="category-input">
                        <option value="0">所有分类</option>
                        {% for category in categories %}
                            {% if category_id == category.pk %}
                                <option value="{{ category.id }}" selected>{{ category.name }}</option>
                            {% else %}
                                <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group margins">
                    <button class="btn btn-primary btn-sm clear-btn">查询</button>
                </div>
                <div class="form-group margins">
                    <a href="{% url 'cms:news_list' %}" class="btn btn-info btn-sm">清除查询</a>
                </div>
            </form>
        </div>
        <div class="box-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>标题</th>
                    <th>分类</th>
                    <th>发布时间</th>
                    <th>作者</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for news in newses %}
                    <tr>
                        <td>
                            <a href="{% url 'news:news_detail' news_id=news.pk %}">{{ news.title }}</a>
                        </td>
                        <td>{{ news.category.name }}</td>
                        <td>{{ news.pubtime | cms_date_filter }}</td>
                        <td>{{ news.author.username }}</td>
                        <td>
                            <a class="btn btn-warning btn-xs" href="{% url 'cms:edit_cms_news' %}?pk={{ news.pk }}">编辑</a>
                            <button class="btn btn-danger btn-xs del-btn" pk="{{ news.pk }}">删除</button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="box-footer">
            <span class="pull-left">第{{ current_page }}页/共{{ p.num_pages }}页</span>
            <nav aria-label="Page navigation" class="pull-right">
                <ul class="pagination">
                    {# 前一页 #}
                    {% if page_obj.has_previous %}
                        <li>
                            <a href="?page={{ page_obj.previous_page_number }}{{ url_parse }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="disabled">
                            <span aria-hidden="true">&laquo;</span>
                        </li>
                    {% endif %}

                    {# 当前页左边部分 #}
                    {% if has_left_more %}
                        <li><a href="?page=1">1</a></li>
                        <li><span>...</span></li>
                        {% for page in left_range %}
                            <li><a href="?page={{ page }}{{ url_parse }}">{{ page }}</a></li>
                        {% endfor %}
                    {% else %}
                        {% for page in left_range %}
                            <li><a href="?page={{ page }}{{ url_parse }}">{{ page }}</a></li>
                        {% endfor %}
                    {% endif %}
                    {# 当前页右边部分 ,包括了当前页 #}
                    {% if has_right_more %}
                        {% for page in right_range %}
                            <li><a href="?page={{ page }}{{ url_parse }}">{{ page }}</a></li>
                        {% endfor %}
                        <li><span>...</span></li>
                        <li><a href="?page={{ p.num_pages }}{{ url_parse }}">{{ p.num_pages }}</a></li>
                    {% else %}
                        {% for page in right_range %}
                            <li><a href="?page={{ page }}{{ url_parse }}">{{ page }}</a></li>
                        {% endfor %}
                    {% endif %}

                    {# 后一页 #}
                    {% if page_obj.has_next %}
                        <li>
                            <a href="?page={{ page_obj.next_page_number }}{{ url_parse }}" aria-label="Next" class="disabled">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="disabled">
                            <span aria-hidden="true">&raquo;</span>
                        </li>
                    {% endif %}

                </ul>
            </nav>
        </div>
    </div>
{% endblock %}