{% extends 'cms/base.html' %}

{% block title %}
    新闻发布
{% endblock %}


{% block head %}
    <script src="https://unpkg.com/qiniu-js@2.4.0/dist/qiniu.min.js"></script>
    <script src="{% static 'ueditor/ueditor.config.js' %}"></script>
    <script src="{% static 'ueditor/ueditor.all.min.js' %}"></script>
    <script src="{% static 'js/write_news.js' %}"></script>
{% endblock %}


{% block content-header %}
    <h1>发布新闻</h1>
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <form action="{% url 'cms:write_news' %}" role="fom">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="news-title">新闻标题</label>
                            <input type="text" class="form-control" id="news-title" placeholder="输入新闻的标题">
                        </div>
                        <div class="form-group">
                            <label for="news-describe">新闻描述</label>
                            <input type="text" class="form-control" id="news-describe" placeholder="输入新闻的描述内容">
                        </div>
                        <div class="form-group">
                            <label>新闻分类</label>
                            <select class="form-control">
                                {% for category in categories %}
                                    <option value="{{ category.id }}">{{ category.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="news-picture">缩略图</label>
                            <div class="input-group">
                                <input type="text" name="thumbnail" class="form-control" id="news-picture"
                                       placeholder="图片url">
                                <span class="input-group-btn">
                                    <label class="btn btn-default btn-file">上传图片
                                        <input hidden type="file" class="btn btn-default" id="up-file" name="upfile">
                                    </label>
                                </span>
                            </div>
                        </div>
                        <div class="form-group" id="progress-group" style="display: none">
                            <div class="progress">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                                         aria-valuemax="100" style="min-width: 2em;">
                                        0%
                                    </div>
                                </div>
                            </div>
                        </div>
                            <div class="form-group">
                                <label for="news-content">新闻内容</label>
                                <script id="editor" type="text/plain"></script>
                            </div>
                            <div class="box-footer">
                                <button type="submit" class="btn btn-primary pull-right">发布</button>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
