{% extends 'cms/base.html' %}

{% block title %}
    发布新闻
{% endblock %}

{% block head %}

{% endblock %}

{% block content-header %}
    <h1>发布新闻</h1>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <form action="" method="POST">
                <div class="box-body">
                    <div class="form-group">
                        <label for="title-form">标题</label>
                        <input type="text" name="title" id="title-form" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="desc-form">描述</label>
                        <input type="text" class="form-control" name="desc" id="desc-form">
                    </div>
                    <div class="form-group">
                        <label for="category-form">分类</label>
                        <select class="form-control" name="category" id="category-form">
                            <option value="1">热点新闻</option>
                            <option value="2">创投资讯</option>
                            <option value="3">创业故事</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="thumbnail-form">缩略图</label>
                        <div class="input-group">
                            <input type="text" name="thumbnail" class="form-control" id="thumbnail-form">
                            <span class="input-group-btn">
                                <button class="btn btn-default">上传图片</button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="content-form">内容</label>
                        <textarea name="content" id="content-form" cols="30" rows="10" class="form-control"></textarea>
                    </div>
                </div>
                <div class="box-footer">
                    <button class="btn btn-primary pull-right">发布</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}